---
layout: fm
title: Feature requests
---
<div class="container"><div class="row">

    <div id="page-171" class="page-asset asset">
      <div class="asset-header">
        <h1 id="page-title" class="asset-name">Feature requests</h1>
      </div>
      <div class="asset-content">

        <div class="asset-body">
          <p>While we appreciate all feature requests, we do not have
          the resources to work on many of them. </p>

          <p>If you are reasonably skilled with PHP or have skills
          with CSS or JavaScript, you can help us. See our page
          on <a href="/fm/developers/">getting started with
          development</a> to make your first commit.</p>

          <h2>Seriously, don't worry...</h2>

          <p>We accept PHP code from all levels of expertise.</p>

          <p>Matt Lee is a good example of a PHP developer who writes
          terrible code, and he’s the project founder.</p>
          <p>We’re pretty sure you’re better than him (Oi! -
          mattl).</p>

          <p>As to why we’re using PHP, see
          the <a href="/fm/faq/">FAQ</a>.</p>

          <ul>
            <li><a href="https://bugz.foocorp.net">Send us a feature request via our bug tracker</a>.</li>
          </ul>



        </div>


      </div>
      <div class="asset-footer"></div>
    </div>

  </div>
</div>
