---
layout: social
title: Download GNU social
---

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Download GNU social</h1>

    <p>Get a copy of the code: our code is managed using
      git. <a href="https://gitorious.org/social/">Visit
	the gnu-social project at Gitorious</a> or check out the code
      with the following command:</p>

    <p class="command">git clone git://gitorious.org/social/mainline.git</p>

  </div>
</div>

<div class="container">
  <div class="span6">
    <h2>When can we expect a release of GNU social?</h2>

    <p>GNU social is stable for every day use now. We recommend upgrading to GNU social if you're using StatusNet.</p>

  </div>
</div>
