---
layout: social
title : What is  GNU social
---
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>What is GNU social?</h1>
  </div>
</div>

<div class="container">
  <div class="span8">
    <h3>What will GNU social be?</h3>

    <p>By default, we think it'll ship with a plugin to offer
      functionality that looks like the current popular social network
      sites, but plugins for other free software applications are
      expected.</p>

    <p>True to GNU itself, social is licensed under the GNU Affero General
      Public License, and we ask that plugin creators do the same.</p>

    <h3>Why we must create GNU social</h3>

    <p>Why are we making GNU social? well, like many of us, we've used
      several different social sites over the years. From orkut, to
      friendster, to myspace and now facebook. Yet, when a new site appears,
      and everyone flocks to use it, your contacts are left behind, as well
      as a significant amount of your private and personal information.</p>

    <p>Social networks should be evolving, they should allow you to
      control what you put into them, and you should be able to keep control
      of your own data, including running the same software that GNU social
      uses, on your own website.</p>

    <p>The web itself is already somewhat social in this regard. emerging
      standards like FoAF already handle some of the basics for a better way
      to control your contacts, and GNU social can add some fun features of
      its own.</p>

    <p>GNU social is being created, from scratch, in php for maximum
      portability.</p>
    <p>PHP runs on virtually any web hosting provider we can think of.</p>

    <p>We recommend suhosin for added security.</p>

    <h3> <span class="mw-headline"> Pre-emptive responses to potential
        questions </span></h3>

    <h4> <span class="mw-headline"> Why are you using PHP?
        Ruby/Python/Perl/A GUI in Visual Basic would be better! </span></h4>

    <p>Better for who? Look at the success of phpBB and Wordpress -- PHP
      is pretty much everywhere, and while maybe your favourite language is
      more elegant, PHP is largely ubiquitous.</p>

    <h4> <span class="mw-headline"> But you'll never beat Facebook, so why
        bother? </span></h4>

    <p>Maybe everyone in the world won't use this, but not everyone uses
      Facebook either. Privacy is important, and lots of people value their
      privacy as well as their freedom to ensure the software they're using
      isn't doing things they don't want.</p>
  </div>
</div>
