---
layout: social
title : What is GNU social
---

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>What is GNU social?</h1>
      </div>
    </div>

    <div class="container">
      <div class="span8">
	<p>Started in 2010 as an off-shoot of the GNU FM project, GNU social
	  began as a set of simple PHP scripts for joining groups and posting
	  messages across servers, developed as a prototype for Software Freedom
	  Day 2010 in Boston.</p>

	<p>Initial work on GNU social was slow, until a local free software
	  developer, Craig Andrews suggested we build our work using the
	  existing StatusNet software, and offered to donate all of his work on
	  StatusNet to the Free Software Foundation. From this point onward, GNU
	  social worked alongside StatusNet &mdash; two projects sharing a
	  codebase, and it was very difficult to explain exactly what GNU social
	  was (or wasn't). We continued this way for sometime, until a meeting
	  with Evan Prodromou at LibrePlanet 2012. At this meeting, Evan
	  announced that wanted to merge his StatusNet project into our
	  fledgling project!</p>

	<p>Over a year later, in June 2013 we were finally ready to tell the
	  world &mdash; StatusNet is now GNU social! Merging with both StatusNet
	  and Mikael Nordfeldth's Free Social project, the future work on this
	  project would be known as GNU social.</p>
</div>
</div>
