---
layout: fm
title: Client support
---

<div class="container"><div class="row">

    <div id="page-174" class="page-asset asset">
      <div class="asset-header">
        <h1 id="page-title" class="asset-name">Client support</h1>
      </div>
      <div class="asset-content">

        <div class="asset-body">
          <p>When we started GNU FM, there were no clients which could
          scrobble to sites other than Last.fm.</p>

          <p>Since then, the situation has changed.</p>

          <ul>
            <li>Lots of clients can scrobble to either Last.fm or Libre.fm</li>
            <li>Some clients can scrobble to Last.fm, Libre.fm or any other URL you specify.</li>
          </ul>

          <p>For the latter option to become a reality, we need more
          people to set up and run their own GNU FM sites. We can then
          ask client developers to support freeform scrobbling.</p>

          <p>Jonas Haraldsson has put together a wonderful resource of
          client support on
          the <a href="http://bugs.foocorp.net/projects/fm/wiki">Libre.fm
          wiki</a>. While much of it is specific to Libre.fm, please
          help us gain support for freeform scrobbling.</p>

        </div>


      </div>
      <div class="asset-footer"></div>
    </div>
  </div>
</div>
