---
layout: fm
title : GNU FM Developers
---
<div id="page-168" class="page-asset asset">
  <div class="asset-header">
    <h1 id="page-title" class="asset-name">GNU FM developers</h1>
  </div>
  <div class="asset-content">

    <div class="asset-body">
      <h3>Main GNU FM developers:</h3>

      <ul>
        <li><a href="http://blog.mikeasoft.com/">Michael Sheldon</a> (<a href="http://gitorious.org/~elleo">elleo</a>)</li>
        <li>Clint Adams (<a href="http://gitorious.org/~clint">clint</a>)</li>
        <li>Jørgen Bøhnsdalen (<a href="http://gitorious.org/~jurg">jurg</a>)</li>
        <li><a href="http://matt.lee.name/">Matt Lee</a> (<a href="http://gitorious.org/~mattl">mattl</a>)</li>
        <li>Toby Inkster (<a href="http://gitorious.org/~tobyink">tobyink</a>)</li>
      </ul>

      <h3>GNU FM wiki champion</h3>

      <ul>
        <li>Jonas Haraldsson (<a href="http://gitorious.org/~kabniel">kabniel</a>)</li>
      </ul>

      <h3>All developers</h3>

      <ul>
        <li><a href="http://deadmemes.net/">Justin Baugh</a> (<a href="http://gitorious.org/~baughj">baughj</a>)</li>
        <li>Carlos Perilla (deepspawn)</li>
        <li><a href="http://donaldrobertson.org/">Donald R Robertson III</a> (donald)</li>
        <li>Evan Hanson (evhan)</li>
        <li>Nicolas Reynolds (fauno)</li>
        <li>Corey Farwell (frewsxcv)</li>
        <li>Bernd Gruber (grubernd)</li>
        <li>Marius Orcsik (habarnam)</li>
        <li>David Mignot (idflood)</li>
        <li>Jarkko Piiroinen (jarkko)</li>
        <li><a href="http://wjsullivan.net/">John Sullivan</a> (<a href="http://gitorious.org/~johnsu01">johnsu01</a>)</li>
        <li><a href="http://joshuagay.org/">Joshua Gay</a> (josh)</li>
        <li>Mikael Nordfeldth (mmn)</li>
        <li>Nikola Plejic (nikolaplejic)</li>
        <li>Daniel Watkins (odd_bloke)</li>
        <li><a href="http://robmyers.org/">Rob Myers</a> (<a href="http://gitorious.org/~robmyers">robmyers</a>)</li>
        <li>Tony Biondo (tonyb486)</li>
        <li><a href="http://ward.vandewege.net/">Ward Vandewege</a> (<a href="http://gitorious.org/~cure">cure</a>)</li>
      </ul>

    </div>


    </div>
    <div class="asset-footer"></div>
</div>
