---
layout: social
title : Try GNU Social
---
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="try-page">
  <div class="container">
    <h1>Join the federated social web</h1>
    <p>No matter which server you're on, you're part of the family!</p>
  </div>
</div>

<div class="container" id="comparison-boxes">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
      <h2>Load Average</h2>
      <p>For techies and non-techies alike</p>
      <hr />
      <ul>
	<li>Run out of Europe (Germany)</li>
	<li>Supports HTTPS for secure chatter</li>
	<li>Great support for new users</li>
      </ul>	  	  

      <p><a href="https://loadaverage.org/" class="btn btn-primary btn-lg">Try Load Average</a></p>

    </div>
    <div class="col-lg-4" id="quitter">
      <h2>Quitter</h2>
      <p>Great for new users</p>
      <hr />
      <ul>
	<li>Run out of Europe (Sweden, Norway and Iceland)</li>
	<li>Supports HTTPS for secure chatter</li>
	<li>Easy to use, familiar user interface</li>
      </ul>
      <p><a href="https://quitter.se/" class="btn btn-primary btn-lg">Try Quitter (Sweden)</a></p>
      <p><a href="https://quitter.no/" class="btn btn-primary btn-lg">Try Quitter (Norway)</a></p>
      <p><a href="https://quitter.is/" class="btn btn-primary btn-lg">Try Quitter (Iceland)</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Vinilox</h2>
      <p>Bleeding edge development</p>
      <hr />
      <ul>
	<li>Run out of Europe</li>
	<li>Supports HTTPS for secure chatter</li>
	<li><b>The latest GNU social code!</b>.</li>
      </ul>

      <p><a href="https://micro.vinilox.eu/" class="btn btn-primary btn-lg">Try Vinilox</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2>gnusocial.de</h2>
      <p>German-language community</p>
      <hr />
      <ul>
	<li>Run out of Europe (Germany)</li>
	<li>Supports HTTPS for secure chatter</li>
      </ul>

      <p><a href="https://gnusocial.de/" class="btn btn-primary btn-lg">Try gnusocial.de</a></p>

    </div>
    <div class="col-lg-4">
      <h2>gnusocial.no</h2>
      <p>&quot;Vanilla&quot; GNU social instance</p>
      <hr />
      <ul>
	<li>Run out of Europe (Norway)</li>
	<li>Supports HTTPS for secure chatter</li>
      </ul>

      <p><a href="https://gnusocial.no/" class="btn btn-primary btn-lg">Try gnusocial.no</a></p>

    </div>

  </div>

  </div>

  <div class="row">
    <hr />

    <p class="text-center"><small>You can also see <a href="http://www.skilledtests.com/wiki/List_of_Independent_Statusnet_Instances">a near-complete list of GNU social servers</a> compiled by our friend, Erkan</small></p>

    <p class="text-center"><small>Please remember that we don&apos;t run any of these sites, even the ones with &quot;GNU social&quot; in the name!</small></p>

    <p class="text-center"><small>Want to be listed here? Contact <a href="http://quitter.se/mattl">mattl</a> or <a href="http://quitter.se/robmyers">robmyers</a></small></p>

  </div>
