#comparison-boxes {
width: 75%;
margin: 0 auto;
}

#try-page {text-align: center;}

#comparison-boxes .col-lg-4:last-child {
    margin-right: 0;
    border-left: 0 !important;
}

#comparison-boxes .col-lg-4 ul {padding: 0; padding: 0 1em;}

#comparison-boxes .col-lg-4 li {text-align: left; list-style: square; padding: 0;}

#comparison-boxes .col-lg-4:first-child {
    margin-left: 2%;
}

#quitter {background-color: #ffc !important;
    border: 2px solid #80d2f0 !important;
box-shadow:
    0 0 4px 2px #E6F9FF,
    inset 0 1px 1px rgba(0,0,0,0.10);
  -webkit-box-shadow:
    0 0 4px 2px #E6F9FF,
    inset 0 1px 1px rgba(0,0,0,0.10);
  -moz-box-shadow:
    0 0 4px 2px #E6F9FF,
    inset 0 1px 1px rgba(0,0,0,0.10);

     margin-top: -10px;
     padding-bottom: 20px;

}

#comparison-boxes .col-lg-4 {
    background-color: #eee; 
    width: 32%;
    text-align: center;
    border: 1px solid #111;
}