---
layout: social
title: Who is GNU social
---

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Who is GNU social?</h1>
  </div>
</div>

<div class="container">
  <div class="span8">

    <p>We are the socialites, a group of hackers, artists and musicians
      who are working on GNU social.</p>

    <ul>
      <li><a href="http://matt.lee.name/">Matt Lee</a></li>
      <li>Mikael Nordfeldth</a></li>
<li>Evan Prodromou</a></li>
<li><a href="http://robmyers.org/">Rob Myers</a></li>
<li><a href="resources.html">You?</a></li>
</ul>



<h3>Help, love, assistance...</h3>

<ul>
  <li>Sean Corbett</li>
  <li>Ian Denhardt</li>
  <li>Craig Andrews</li>
  <li><a href="http://sdubois.org/">Steve DuBois</a></li>
  <li><a href="http://danbri.org/">Dan Brickley</a></li>
  <li>Donald Robertson</li>
  <li>Deborah Nicholson</li>
  <li>Blaine Cook</li>
  <li>Adrian Lang</li>
  <li>Brenda Wallace</li>
  <li>Brett Taylor</li>
  <li>Brian Hendrickson</li>
  <li>Brigitte Schuster</li>
  <li>Brion Vibber (StatusNet)</li>
  <li>Ciaran Gultnieks</li>
  <li>Craig Andrews</li>
  <li>Dan Moore</li>
  <li>Earle Martin (StatusNet)</li>
  <li>Eric Helgeson</li>
  <li>Erik Stambaugh</li>
  <li>Federico Marani</li>
  <li>Fil</li>
  <li>Florian Biree</li>
  <li>Garret Buell</li>
  <li>Gina Haeussge</li>
  <li>Jeff Mitchell</li>
  <li>Jeffery To</li>
  <li>Ken Sedgwick</li>
  <li>Leslie Michael Orchard</li>
  <li>Marie-Claude Doyon (StatusNet)</li>
  <li>Matthew Gregg</li>
  <li>Meitar Moscovitz</li>
  <li>Michael Landers</li>
  <li>Mike Cochrane</li>
  <li>Ori Avtalion</li>
  <li>Robin Millette (StatusNet)</li>
  <li>Samantha Doherty (StatusNet)</li>
  <li>Sarven Capadisli (StatusNet)</li>
  <li>Sean Murphy</li>
  <li>Siebrand Mazeland</li>
  <li>Tobias Diekershoff</li>
  <li>Tryggvi Björgvinsson</li>
  <li>Zach Copley (StatusNet)</li>
  <li>drry</li>
  <li>mEDI</li>
</ul>

<h6>Incoming...</h6>

<ul>
  <li>Will Kahn-Greene</li>
  <li>Ted Smith</li>
</ul>
</div>
</div>
