---
layout: social
title: GNU social mailing list and resources
---
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>GNU social mailing list and resources</h1>
  </div>
</div>

<div class="container">
  <div class="span8">
    
    <p>You can join
      the <a href="https://lists.gnu.org/mailman/listinfo/social-discuss">primary GNU social
	mailing list</a> or send an email
      to <a href="mailto:social-discuss@gnu.org">social-discuss@gnu.org</a>.</p>

    <p>We're also on IRC, in #social on <a href="http://freenode.net/">irc.freenode.net</a>. You
      can join <a href="http://webchat.freenode.net/?channels=%23social&uio=d4">using your
	browser</a> too.</p>

    <p>And you can report bugs and other issues at <a href="https://bugz.foocorp.net/project/view/3/">https://bugz.foocorp.net/</a></p>

  </div>
</div>
