---
layout: fm
title: GNU social and GNU FM
---


<div class="container">
  <div class="row">

    <div id="alpha-inner">




      <h1 id="page-title" class="asset-name">GNU FM</h1>
      <p>GNU FM is free software for running music community websites.</p>

      <p>It was created for the music community site, Libre.fm &mdash; run by Foo Communications.</p>

      <p><strong>You can get involved! We have a <a href="/fm/developers/who/">small, dedicated group of developers</a>, and <a href="http://libre.fm/podcast/">an occasional podcast</a> featuring new music and development news</strong></p>

      <ul>
        <li><a href="/fm/developers/">How to start hacking on GNU FM</a></li>
        <li><a href="/fm/support/">Where to find support</a></li>
        <li><a href="/fm/bugs/">Reporting bugs</a></li>
        <li><a href="/fm/features/">Got an idea for a new feature?</a></li>
        <li><a href="/fm/clients/">Client support</a></li>
        <li><a href="/fm/roadmap/">GNU FM roadmap</a></li>
        <li><a href="/fm/developers/who/">GNU FM developers</a></li>
      </ul>

    </div>
  </div>
</div>
