---
layout: fm
title: GNU FM frequently asked questions
---
<div class="container"><div class="row">

    <div id="page-173" class="page-asset asset">
      <div class="asset-header">
        <h1 id="page-title" class="asset-name">Frequently asked questions</h1>
      </div>
      <div class="asset-content">

        <div class="asset-body">
          <p>Here are some frequently asked questions, complete with answers, about GNU FM.</p>

          <h3>What is GNU FM?</h3>

          <p>GNU FM is a piece of software you can install on your own
          web server, to run a music community site, similar
          to <a href="http://libre.fm/">Libre.fm</a>
          or <a href="http://last.fm/">Last.fm</a>.</p>

          <p>You can use it for your family, your business, your band,
          or just for yourself.</p>

          <h3>How is GNU FM different from Libre.fm?</h3>

          <p>Libre.fm is the flagship website running the GNU FM
          software. Libre.fm has a different design to GNU FM, but the
          software is identical. Libre.fm usually represents the very
          latest in GNU FM development.</p>

          <h3>How is GNU FM different from Last.fm?</h3>

          <p>GNU FM does not have all the features of Last.fm, but
          unlike Last.fm you can run your own server.</p>

          <p>Last.fm has negotiated contracts with major music
          labels. GNU FM, a lowly community project, has no such clout
          or contracts. </p>

          <h3>What is your relationship with Last.fm?</h3>

          <p>Last.fm developers have been good to us. Thanks to the
          Last.fm developers, you can now export your listening
          history, and import it into your own GNU FM site. </p>

          <h3>What is the license for GNU FM?</h3>

          <p>GNU FM is licensed under
          the <a href="http://www.gnu.org/licenses/agpl.html">GNU
          Affero General Public License version 3</a>. If you choose,
          you can also use the terms of later versions of the GNU
          Affero General Public License, if/when they become
          available.</p>

          <h3>Who owns GNU FM?</h3>

          <p>GNU FM is a community project, and the developers have
          assigned their work to
          the <a href="http://www.fsf.org/">Free Software
          Foundation</a>. The FSF holds the copyright on the project,
          and will ensure it always remains free software. </p>

          <p>Free software is a matter of freedom, not price. Some
          people call this Open Source, but Open Source misses the
          point of Free Software.</p>

          <p>Please consider <a href="http://www.fsf.org/join">joining
          the Free Software Foundation</a> as an associate member
          or <a href="http://donate.fsf.org/">making a
          donation</a>.</p>

          <h3>What is Foo Communications?</h3>

          <p>Foo Communications (sometimes called FooCorp or FCL) is a
          company set up by Matt Lee, Rob Myers and Liam Smith. It is
          primarily a record label, specializing in freely licensed
          music. Foo Communications runs the Libre.fm service and
          handles all advertising. </p>

          <h3>Do I have to use Creative Commons or other freely licensed music on my site?</h3>

          <p>No. Libre.fm is a project about free music (libre means
          freedom) and so the music on Libre.fm must give you
          the <a href="http://freedomdefined.org/Definition#Defining_Free_Culture_Licenses">essential
          freedoms defined for creative works</a>.</p>

          <h3>What is Libre Droid?</h3>

          <p>Libre Droid is an Android application for Libre.fm. This
          is also free software and you can grab a copy of the code,
          make an Android app for your own site, and publish it under
          the terms of
          the <a href="http://www.gnu.org/licenses/gpl.html">GNU
          General Public License</a> version 3.0 or later
          versions.</p>

          <h3>What is needed to run GNU FM?</h3>

          <ul>
            <li><a href="http://www.gnu.org/distros/">GNU/Linux</a> or other Unix-like operating system</li>
            <li>A web server — could be Apache, nginx, lighttpd, etc</li>
            <li>PHP 5 or later</li>
            <li>A database — could by MySQL or PostgreSQL</li>
            <li>URL rewriting, such as mod_rewrite.</li>
          </ul>

          <h3>I can’t get it working on Windows or Mac OS X</h3>

          <p>While GNU FM should work with Apache on these platforms,
          we can’t guarantee it’ll work. </p>

          <p>Windows and Mac OS X are not common web hosting platforms
          and are not free software, so we don’t focus on these
          targets.</p>

          <h3>Why PHP?</h3>

          <p>PHP is very common in shared hosting environments. Along
          with MySQL and Apache, PHP is a good base for developing web
          applications. </p>

          <p>Like any language, PHP has its critics. Discussions about
          PHP versus other languages are not useful to the
          project.</p>

        </div>


      </div>
      <div class="asset-footer"></div>
    </div>
