---
layout: social
title : Contact GNU social
---
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Contact us</h1>
  </div>
</div>

<div class="container">
  <div class="span8">
    
    <p>We have many ways to contact the project:</p>

    <ul>
      <li><a href="/social/resources/">Via the GNU social mailing list and IRC channel (#social on freenode)</li>
      <li>Write to Matt Lee, the project founder directly <a href="mailto:mattl@gnu.org">mattl@gnu.org</a></li>
      <li>Submit bug reports pr feature requests via <a href="https://bugz.foocorp.net/project/view/3/">our issue tracker</a></li>
      <li>Coming soon: talk to us directly via GNU social</li>
    </ul>

  </div>
</div>
