---
layout: fm
title: Reporting Bugs
---
<div class="container"><div class="row">

    <div id="page-170" class="page-asset asset">
      <div class="asset-header">
        <h1 id="page-title" class="asset-name">Reporting bugs</h1>
      </div>
      <div class="asset-content">

        <div class="asset-body">
          <p>We appreciate good bug reports for GNU FM!</p>

          <ul>
            <li><a href="https://bugz.foocorp.net/project/view/1/">Report a bug in GNU FM</a></li>
          </ul>

          <p>We also love to get <a href="https://bugz.foocorp.net/project/view/1/">feature requests</a> and can offer <a href="https://bugz.foocorp.net/project/view/1/">support</a> requests via the tracker.</p>

        </div>


      </div>
      <div class="asset-footer"></div>
    </div>

  </div>
</div>
