---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</h1>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

</div>
