---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{% if page.title %} {{ page.title | xml_escape }}{% endif %}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

</div>
