---
layout: fm
title: Where to find GNU FM support
---
<div class="container"><div class="row">

    <div id="page-169" class="page-asset asset">
      <div class="asset-header">
        <h1 id="page-title" class="asset-name">Where to find support...</h1>
      </div>
      <div class="asset-content">

        <div class="asset-body">
          <p>If you’re looking for support for Libre.fm, please see the Libre.fm support pages.</p>

          <h3>Community support for GNU FM</h3>

          <ul>
            <li><a href="/fm/faq/">Check the GNU FM FAQ</a></li>
            <li><a href="/fm/get-involved/#email">Ask on the GNU FM mailing list</a></li>
            <li><a href="/fm/get-involved/#irc">Join the GNU FM IRC channel</a></li>
          </ul>

          <h3>Paid support for GNU FM</h3>

          <p>Buying paid support benefits the development efforts, 75%
          of all profit from support is made available to GNU FM
          developers for conferences, etc.</p>

          <ul>
            <li>Paid support is available from <a href="http://foocorp.net/">Foo Communications</a> — <a href="http://foocorp.net/contact/">contact them</a> for more details. </li>
          </ul>

        </div>


      </div>
      <div class="asset-footer"></div>
    </div>

  </div>
</div>
