---
layout: social
title: GNU social
---

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Let's Get Social!</h1>
    <p>Welcome to the home of the GNU social project.</p>
    <p><a class="btn btn-primary btn-lg" href="/social/try/">Try GNU social today &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
      <h2>What is GNU social?</h2>
      <p>GNU social is a continuation of the StatusNet project. It
        is social communication software for both public and private
        communications. It is widely supported and has a large
        userbase. It is already used by
        the <a href="http://status.fsf.org/">Free Software
          Foundation</a>, and Richard Stallman himself.</p>
      

      
    </div>
    <div class="col-lg-4">
      <h2>The history of GNU social</h2>
      <p>GNU social was started in 2010 as a spin-off from the GNU
	FM project that was created to power music communities such
	as Libre.fm. In 2013, Evan Prodromou kindly donated all of his work on the StatusNet project to the Free Software Foundation, so we merged our existing project with StatusNet and another project called FreeSocial. Evan continues to develop social software for the web with his new Pump.io project. And here we are.</p>
    </div>
    <div class="col-lg-4">
      <h2>What's next?</h2>
      <p>Thanks
        to <a href="http://www.bytemark.co.uk/">Bytemark</a>, GNU
        social has a new home in the UK, with resources to open a
        series of public GNU social servers for new users, including
        private servers dedicated to GNU social development.</p>

      <a href="https://gnu.org/gnu30"><img width="100" src="https://static.fsf.org/nosvn/misc/GNU_30th_badge.png" alt="[ Celebrate 30 years of GNU! ]" /></a>



    </div>
  </div>
